<!DOCTYPE HTML>
<html>

<head>
	<title>Books</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="is-preload">
	<div id="header"></div>
		<div class="main-content grid">
			<a href="#" class="clickable-card">
				<div class="image-placeholder">IMAGE</div>
				<div class="caption">Previously added entry</div>
			</a>
		</div>
		<div class="add-button">
			<button onclick="addEntry()">+</button>
		</div>

		<div class="add-button">
			<button onclick="addEntry1()">?</button>
		</div>
		
	<script src="../assets/js/loadcontent.js"></script>
	<script> loadHTML('../reusable/header.html', 'header');</script>
	<script>
		function addEntry() {
			window.location.href = '../reusable/entryForm.html';
		}
	</script>

<script>
	function addEntry1() {
		window.location.href = '/home/reusable/entryForm.html';
	}
</script>
</body>

</html>