<!DOCTYPE HTML>
<html>

<head>
	<title>Books</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="is-preload">
	<div id="main">
	<div id="insertedHeader"></div>
	
	<section id="top" class="outer dark cover">
		<div class="main-content grid">
			<a href="#" class="clickable-card">
				<div class="image-placeholder">IMAGE</div>
				<div class="caption">Previously added entry</div>
			</a>
		</div>
		
	<div id="entryForm"></div>
	</section>	
</div>
	<script src="../assets/js/loadcontent.js"></script>
	<script> loadHTML('header.html', 'insertedHeader');</script>
	<script> loadHTML('entryForm.html', 'entryForm');</script>
</body>

</html>