<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Books</title>
    <script src="../js/loadcontent.js"></script>
    <link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="is-preload">
    <div id="insertedHeader"></div>
    <div id="main">
        <section id="top" class="book dark cover">
            <h1>Books</h1>
        </section>

        <div id="displayEntriesContainer"></div>
    </div>
    <div id="output"></div>

    <script>
        // Load the entries and header
        loadHTML('modules/form_cards2.html', 'displayEntriesContainer', function () {
            console.log("Calling renderEntries after loading content");
            renderEntries('Books');  // Make sure renderEntries is defined
        });
        loadHTML('modules/header.html', 'insertedHeader');
    </script>
</body>

</html>
