<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Books</title>
	<script src="../js/simpleLoad.js"></script>
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="is-preload">
	<div id="insertedHeader"></div>
	<div id="main">
		<section id="top" class="computer dark cover">
			<h1>Games</h1>
		</section>

		<div id="displayEntriesContainer"></div>

	</div>
	<div id="output"></div>

	<script>
		simpleLoad('modules/form_cards3.html', 'displayEntriesContainer', function () {
			renderEntries('Computer');
		});
		simpleLoad('modules/header.html', 'insertedHeader');
	</script>
</body>

</html>