<!DOCTYPE HTML>
<html>

<head>
	<title>Computer</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="is-preload">

	<div id="insertedHeader"></div>
	<div id="main">
		<section id="top" class="outer dark cover">
			<h1>Computer</h1>
		</section>
		<div id="entryForm"></div>
	</div>
	<script src="../js/loadcontent.js"></script>
	<script> loadHTML('modules/header.html', 'insertedHeader');</script>
	<script> loadHTML('modules/entryForm.html', 'entryForm');</script>
</body>

</html>