<!DOCTYPE HTML>
<html>
	<head>
		<title>Tabletop</title>
		<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>
<body class="is-preload">

	<div id="insertedHeader"></div>
	<div id="main">
		<section id="top" class="outer dark cover">
			<div id="entryForm"></div>
		</section>
	</div>
	<script src="../js/loadcontent.js"></script>
	<script> loadHTML('../components/modules/header.html', 'insertedHeader');</script>
	<script> loadHTML('../components/modules/entryForm.html', 'entryForm');</script>
</body>
</html>