<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Tabletop</title>
	<script src="../js/loadcontent.js"></script>
	<link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body class="is-preload">
	<h1>UNDER CONSTRUCTION</h1>
<!--
	<div id="insertedHeader"></div>
	<div id="main">
		<section id="top" class="outer dark cover">
			<h1>Tabletop</h1>
		</section>
		<div id="entryFormContainer"></div>

		<div id="displayEntriesContainer"></div>-->
		<!-- Include this in your entryForm.html or the main page where the form is loaded -->
		<!--<div id="output"></div>

	</div>
	<script>
		// Load the entry form into the specified container
		loadHTML('modules/addEntries.html', 'entryFormContainer');
		// Load the display entries into the specified container
		loadHTML('modules/displayEntries2.html', 'displayEntriesContainer', function () {
			renderEntries('Tabletop'); // Filter to show only 'Music' category entries
		});
		loadHTML('modules/header.html', 'insertedHeader');
	</script> -->
</body>

</html>